<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='../stylesheets/font-awesome-4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='../stylesheets/bulma-0.6.0/css/bulma.css' />
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
