{{>nav}}
<section class="section">
    <div class="container">
        <h1 class="title">
            {{title}}
        </h1>
        <p class="subtitle">
            Bienvenu au <strong>{{title}}</strong>!
        </p>
    </div>
</section>
